body {
  background: linear-gradient(to right bottom, #e682a4, #cdcded, #8bc7cf);
  background-attachment: fixed;
  padding: 1em 2em;
}

ul {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  color: #211;
  gap: 3px;
  li {
    width: 7em;
    display: block;
    background: #BDB;
    padding: 0.1em;
    &::before {
      content: "・";
    }
  }
}

input[maxlength="1"] {
  width: 1em;
}
