body {
  background: #CCC;
  background-attachment: fixed;
  padding: 1em 2em;
}

ul {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  color: #211;
  gap: 1.5px;
  li {
    width: 7em;
    display: block;
    outline: 1px solid #898;
    background: #BDB;
    padding: 0.1em;
    &::before {
      content: "・";
    }
  }
}
