body {
    background: linear-gradient(#CDC, #988);
    background-attachment: fixed;
    color: #000;
    width: 72%;
    margin-left: 8%;
}
header {
    border-bottom: 1px dashed #000;
}
footer {
    border-top: 1px dashed #000;
    text-align: right;
}
main {
    width: 100%;
    .contain {
        margin: 8em;
        .cx {
            position: relative;
            z-index: 14;
            margin: 2em auto;
            width: 15vw;
            height: 15vw;
            background: linear-gradient(#99DDFF, #336688);
            transform: rotate(45deg);
        }
        .shadow {
            position: relative;
            z-index: 4;
            margin: 2em auto;
            width: 22vw;
            height: 4vw;
            background: radial-gradient(#222, #777);
            border-radius: 50%;
            box-shadow: 29px 10px 35px 2px #888;
        }
    }
}
